XMLTest/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" >
	<element name="books">
		<complexType>
			<sequence>
				<element name="book">
					<complexType>
						<sequence>
							<element name="name" type="string"></element>
							<element name="author" type="string"></element>
							<element name="price" type="double"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<attribute name="id" type="integer"></attribute>
</schema>